# Dependencies
node_modules/

# Builds / Output
dist/
.vercel/
.next/
.out/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment files
.env
.env.*
!.env.example

# Editor/OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Coverage / tests
coverage/
.jest/

# Misc
*.local
*.cache
